{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="color: #5b2bfa; text-align: center;">All Categories</h2>

    <div class="container">
        <div class="categories">
            {% for category in categories %}
                <div class="category-container">
                    <a href="{% url 'category' category.category.lower %}">
                        <h3 class="category-title"; style="color: rgb(0, 0, 0);text-align: center;background-color: rgb(246, 237, 225);">{{ category.category }}</h3>
                    </a>
                </div>
            {% empty %}
                <span style="color: rgb(61, 176, 226);">No categories found!</span>
            {% endfor %}
        </div>
    </div>

{% endblock %}
