{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>

    {% for listing in listings %}
{#        {% if listing.is_active %}#}
            <a href="{% url 'listing' listing.id %}">
                <div class="listing container-fluid">
                    <div class="thumb-image">
                        <img src="{{ listing.image_url }}" alt="{{ listing.title }}" width="300px">
                    </div>
                    <div class="listing-detail">
                        <h4>{{ listing.title }}</h4>
                        <br>
                        <span><b>Price: ${{ listing.current_bid }}</b></span>
                        <br>
                        <span>{{ listing.description }}</span>
                        <br>
                        <span>Created {{ listing.created }} </span>
                    </div>
                </div>
            </a>
{#        {% endif %}#}
    {% empty %}
        <span>No listings found.</span>
    {% endfor %}

{% endblock %}