{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        <h3>{{ listing.title }}</h3>
    </div>

    {% if user.is_authenticated %}

        {% if user == listing.user and listing.is_active %}
            <div class="no-bids">
                <form action="{% url 'close_auction' listing.id %}">
                    <input class="btn btn-danger" type="submit" name="close" 
                    value="Close Auction">
                </form>
            </div>
        {% endif %}

        {% if not watchlisted %}
            <div class="no-bids">
                <form action="{% url 'watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" 
                    name="addwatchlist" value="Add to watchlist">
                </form>
            </div>

        {% else %}
            <div class="no-bids">
                <form action="{% url 'watchlist' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-secondary" type="submit" 
                    name="removewatchlist" value="Remove from watchlist">
                </form>
            </div>
        {% endif %}
    {% endif %}

    <div>
        <img src="{{ listing.image_url }}" 
        alt="{{ listing.title }}" width="400px">
    </div>

    <div>
        <p>{{ listing.description }}</p>
    </div>

    {% if listing.is_active %}
        <div class="active-bid">
            <div>
                <h5>
                    ${{ listing.current_bid }}
                </h5>
            </div>

            <div class="no-bids">
                {{ number_of_bids }} bid(s) so far.
            </div>

            {% if user.is_authenticated %}
                <div>
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="number" step="any" 
                            min="{{ listing.current_bid }}" name="new_bid"
                                   class="form-control"
                                   aria-label="Amount">
                            <div class="input-group-append">
                                <span class="input-group-text">$</span>
                            </div>
                        </div>
                        <input class="btn btn-primary" 
                        type="submit" value="Place Bid">
                    </form>
                    <div>
                        {% if error_bid %}
                            <p>{{ error_bid }}</p>
                        {% elif success_bid %}
                            <p>{{ success_bid }}</p>
                        {% endif %}
                    </div>
                </div>

            {% else %}
                <div>
                    Please login to place a bid!
                </div>
            {% endif %}
        </div>
    {% else %}
        <div>
            <h5>Uh-Oh...This auction is closed!</h5>
        </div>
    {% endif %}

    <div class="listing-view-detail">
        <h3>Details</h3>
        <ul>
            <li>Listed by: {{ listing.user }}</li>
            <li>Category: <a href="{% url 'category' listing.category.category.lower %}">
                {{ listing.category }}</a></li>
            <li>Created: {{ listing.created }}</li>
        </ul>
    </div>

    <div>
        <h3>Comments</h3>
        <div class="comment">
            {% for comments in listing.comments.all %}
                <div class="comment-user">
                    <b>{{ comments.user }} commented on {{ comments.created }}:</b>
                </div>
                <div class="comment-text">
                    {{ comments.comment }}
                </div>

            {% empty %}
                <div>No comments yet.</div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
            <div class="comment">
                <h3>Add a comment...</h3>
                <div class="comment-form">
                    <form action="{% url 'comment' listing.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="newcomment" aria-label="add a comment">
                        <input type="submit" value="Add">
                    </form>
                </div>
            </div>
        {% else %}
            <div class="comment">
                <p>Please login to add a comment!</p>
            </div>
        {% endif %}

    </div>


{% endblock %}