{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Login</h2>

    {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    <hr>
    <div class="mt-3">
        <a class="btn btn-outline-success btn-block" href="{% url 'request_otp' %}">
            📱 Login / Sign Up with Mobile OTP (+91)
        </a>
    </div>

    <div class="mt-3">
        Don't have an account? <a href="{% url 'register' %}">Register here!</a>
    </div>

{% endblock %}
